<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Todo App</title>
    <style>
      .subtitle {
        color: rgb(124, 16, 92);
        font-weight: bold;
        font-size: 23px;
        padding: 20px;
      }
      .container {
        background-color: rgb(252, 251, 249);
        margin-top: 100px;
        padding: 20px;
      }
      .big-container {
        background-color: lavenderblush;;
      }
      .title {
        color: darkblue;
      }
      .add-button {
        margin-top:30px;
        align-content: right;
      }
    </style>
  </head>

  <body class="big-container">
    <div class="container">
      <h3 class="title">Welcome to our todo project app</h3>
      <hr />
      <form action="/create" method="POST" form="form1">
        <div class="form-group">
          <label for="title" class="subtitle">List of added tasks</label>

        </div>
      </form>

      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th class="task-id">TASK ID</th>
              <th class="task">TASK NAME</th>
              <th class="status">STATUS</th>
              <th class="update">REMOVE</th>
            </tr>
          </thead>

          <tbody>
            {% for item in items %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.task}}</td>

              {% if item.status == "In Progress" %}
              <td>
                <button
                  type="button"
                  class="btn btn-outline-warning btn-sm state"
                  data-source="{{item.id}}"
                >{{item.status}}</button>
              </td>
              {%endif%} {% if item.status == "Todo" %}
              <td>
                <button
                  type="button"
                  class="btn btn-outline-secondary btn-sm state"
                  data-source="{{item.id}}"
                >{{item.status}}</button>
              </td>
              {%endif%} {% if item.status == "Complete" %}
              <td>
                <button
                  type="button"
                  class="btn btn-outline-success btn-sm state"
                  data-source="{{item.id}}"
                >{{item.status}}</button>
              </td>
              {%endif%}

              <td>
                <button
                  class="btn btn-outline-danger remove"
                  data-source="{{item.id}}"
                  type="button"
                >
                  Delete
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
        <form action="/create" method="POST" form="form1">
          <div class="form-group">
            <label for="title" class="subtitle">Add a todo project task</label>
  
          </div>
        </form>
  
        <div
     
        id="task-modal"
      >
      <input
      type="text"
      class="form-control"
      placeholder="Description of task"
      aria-label="task-name"
      aria-describedby="basic-addon1"
    />
    <div class="add-button">
      <button id="submit-task" type="button" class="btn btn-info">
        Add TODO project Task
      </button>
    </div>
  </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='script/actions.js') }}"></script>
  </body>
</html>
